@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


html, body {
	background-color: #fff;
	width: 100%;
	font-size: 20px;
	font-family: 'Inter', sans-serif;
}

.header {
	background-color: #eee;
	width: 100%;
	height: 3.3rem;
	position: absolute;
	top: 0;
	z-index: 2;
	box-shadow: 0 3px 3px 0 #7C7C7C;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

h1 {
	color: #000;
	opacity: 70%;
}

.header__button {
	background-color: rgb(192, 192, 192);
	color: #000;
	opacity: 70%;
	position: absolute;
	left: 2rem;
	font-size: 0.8rem;
	padding: 0.3rem 0.65rem;
	margin-right: 0.1rem;
	border-radius: 0.3rem;
	cursor: pointer;
	transition: 0.6s ease;
	color: #000;
	opacity: 70%;
}

.header__button:hover {
	background-color: #606060;
}


/* Styling slideshow */
.slideshow-wrapper {
	position: relative;
	top: 4rem;
	width: 80%;
	margin: 0.5rem auto;
	height: 43rem;
	background-color: #eee;
	border-radius: 0.3rem;
	box-shadow: 0 2px 2px 0 #7C7C7C;
	max-height: 53rem;
	max-height: 100%;
	border-radius: 0.5rem;
	box-shadow: 0 0.5rem 1rem gray;
}

.slideshow__card-visible {
	display: block;	
}

.slideshow__card {
	overflow: hidden;
	display: none;	
}

.slideshow__image {
	display: flex;
	width: 97%;
	margin: 0.5rem auto;
	height: 35rem;
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
}

.button-previous, .button-next {
	position: absolute;
	top: 35%;
	transform: translate(0, .50%);
	font-size: 3rem;
	padding: 1rem;
	cursor: pointer;
	color: #000;
	background-color: #7C7C7C;
	border-radius: 0.2rem;
	opacity: 70%;
	transition: 0.3s ease;
	text-decoration: none;
}

.button-previous:hover, .button-next:hover {
	color: #000;
	background-color: #bbbbbb;
	border-radius: 0.2rem;
	opacity: 40%;
}

.button-previous {
	left: -6rem;
}

.button-next {
	right: -6rem;
}

.slideshow__image-text {
	color: #000;
	opacity: 70%;
	font-size: 1rem;
	padding: 1rem;
	margin: 0.3rem 3rem 0.3rem 3rem;
}

.dots-wrapper {
	text-align: center;
} 

.dot {
	display: inline-block;
	background-color: rgb(172, 172, 172);
	opacity: 70%;
	width: 0.75rem;
	height: 0.75rem;
	border-radius: 50%;
	margin: 0.3rem 0.2rem 1rem 0.2rem;
	cursor: pointer;
	transition: 0.4s ease;
	z-index: 20;
}

.active, .dot:hover {
	background-color: rgb(15, 15, 15);
	opacity: 70%;
}

.slideshow__card {
	animation-name: fade;
	animation-duration: 1s;
}


.button__previous {
	position: fixed;
	top: 45%;
	left: 2rem;
	opacity: 0.5;
	z-index: 2;
	cursor: pointer;
	width: 3rem;
	height: 3rem;
}

.button__next {
	position: fixed;
	top: 45%;
	right: 2rem;
	opacity: 0.5;
	z-index: 2;
	cursor: pointer;
	width: 3rem;
	height: 3rem;
}

@keyframes fade {
	from 	
	{opacity: 0.6;};
	to 
	{opacity: 1;}
}


